.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: apercu;
  font-size: 14px;
  background-image: linear-gradient(to right, white, #46857E)

}

.navbar {
  margin-bottom: 20px;
  padding: 20px;
  font-family: Apercu;
  font-size: 18px;
  text-align: center;

}

.FormControl {
  justify-content: center; 
  margin-right: 100px;
  align-content: center
}

@media (min-width: 768px) {
     .sidebar {
          max-width: 280px;
          position: fixed;
          height: 100%;
          padding-left: 60px;
     }
 }

 @media (max-width: 768px) {
  .sidebar {
    max-width: 280px;
    position: fixed;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    /* max-width: 280px; */
    display: none;
  }
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 3;
  }

  @include media-breakpoint-only(lg) {
    column-count: 5;
  }

}

.card {
  width: 18rem;
  border: 0.3rem outset;
}

.card .text-center {
  border: 0.1rem outset #FFE1D4;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  width: 25%
}

.card-columns {
  display: block;
  columns: auto;
  column-gap: 30px;
  margin-left: 0px;
  padding-left: 0px;
  padding: 50px;
  
}

.card-title {
  color: #D1AB99;
  text-align: left;

}

.material-icons {
  padding-top: 10px;
  color: #99D1CB;
  font-size: 2em;
  height: 3rem;

}

.clearfix {
  overflow: auto;
}

.Navbar-text {
  text-align: center;
}

.avatar {
  margin-right: 10px;
  margin-bottom: 10px;
}

.container {
  font-size: 14px;
  font-family: Apercu;

}

#welcome-text {
  margin-top: 23px;
}

.k-textbox{
  width: 300px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  margin-left: 15px;
} 

.main-question-body {
  color: #856354;
  text-align: left;
  font-weight: bold;
  font-family: apercu, serif;

}

h4 {
  color: #46857E;
  border: 0.1rem outset #FFE1D4;
}

#categoryList {
  color: black;
}
