.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #bcd3ce;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-bottom: 20px;
  padding: 20px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

.FormControl {
  justify-content: center;
  margin-right: 100px;
  align-content: center;
}

@media (min-width: 768px) {
  .sidebar {
    max-width: 280px;
    position: fixed;
    height: 100%;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 280px;
    position: fixed;
    display: none;
    height: 100%;
  }
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 3;
  }

  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
}

.card {
  width: 18rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.card .text-center {
  color: #99d1cb;
  font-size: 16px;
  font-style: italic;
  float: right;
  border: 0.1rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  width: 25%;
}

.card-columns {
  display: block;
  columns: auto;
  padding: 25px;
  padding-top: 0px;
}

.card-title {
  color: #856354;
  text-align: left;
}

.material-icons {
  padding-top: 10px;
  color: #99d1cb;
  font-size: 2em;
  height: 3rem;
}

.error {
  font-size: 20px;
  font-family: sans-serif;
}

.clearfix {
  overflow: auto;
}

.Navbar-text {
  text-align: center;
}

.avatar {
  margin-right: 10px;
  margin-bottom: 10px;
}

.container {
  font-size: 14px;
  font-family: sans-serif;
}

.k-textbox {
  width: 300px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-left: 18px;
  float: left;
  border-radius: 50%;
  margin-top: 10px;
}

.main-question-body {
  color: #856354;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif, serif;
}

.category-detail {
  margin-right: 20px;
  margin-top: 10px;
  text-align: left;
  font: 14px;
  color: gray;
  font-style: italic;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.question-detail {
  color: #856354;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 10px;
}

.k-form {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 10px;
}

.user-answer-format {
  font-size: 17px;
  color: black;
}

.date-answer-format {
  font-size: 14px;
  color: grey;
}

.thumbnailAnswer {
  width: 70px;
  height: 70px;
  margin-right: 18px;
  float: left;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  color: #46857e;
}

a {
  color: black;
  text-decoration: none;
}

a.question-card {
  color: #f5f5f5;
  text-decoration: none;
}

form.k-form {
  width: 100%;
}
.upvotes {
  color: #99d1cb;
}

.cat-item {
  display: inline-block;
}

.cat-item + .cat-item::before {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

.navbar-text {
  margin-left: 50px;
}

.cat-home {
  color: #313131;
  font-weight: normal;
  font-size: 16px;
  font-style: italic;
  border: 0.1rem;
  display: inline-block;
  text-align: right;
}

.cat-home + .cat-home::before {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

.cat-align {
  text-align: right;
}

.cat-color {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}

.submit-form-card {
  border: none;
  width: 400px;
  background: none;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}
